<!DOCTYPE html>
<html>
<head>
  <title>IReport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="warning">
      <% if notice %>
        <p class="alert alert-success"> <%= notice %></p>
      <% elsif alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

    </div>
    <div class="header">
      <%= render :partial => 'shared/header' %>
    </div>
    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <%= render :partial => 'shared/footer' %>
    </div>
</body>
</html>
